doctype html
html 
    head    
        title #{titulo}  
        meta(charset="utf-8")
        link(rel="stylesheet" href="main.css")

    body 
        main 
            h1 #{titulo} 
            figure 
                img( src=imagen)
                figCaption #{texto} 
            ul  
                each cafe in cafes
                    li 
                        a(href="cafe/"+cafe.tipo) #{cafe.tipo} &nbsp; | &nbsp;